@use "../dependencies" as *;

@layer layouts {
  .main-footer {
    background-color: var(--bs-dark);
    border-top: 5px solid var(--bs-primary);
    padding: torem(20) 0 torem(10);
    color: var(--bs-light);

    .row {
      margin-bottom: 0;
    }

    // LOGO
    &__logo {
      margin-bottom: torem(10);
      color: var(--bs-light);
      font-size: torem(26);
      font-weight: 700;

      &-icon {
        color: var(--bs-primary);
        font-weight: 900;
      }
    }

    &__description {
      max-width: 30ch;
      font-size: torem(14);
      line-height: 1.6;

      @include media-breakpoint-down(md) {
        margin: 0 auto 1rem;
        text-align: center;
      }
    }

    // MENÚ
    &__menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: torem(25);
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        margin: 1rem 0;
      }
    }

    &__menu-link {
      color: var(--bs-light);
      text-decoration: none;
      display: inline-block;
      transition: color 0.3s ease;

      &:hover {
        color: var(--bs-primary);
      }

      &:visited,
      &:active,
      &:focus {
        color: var(--bs-light);
        text-decoration: none;
      }
    }

    // CONTACTE
    &__list--contact {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;

      @include media-breakpoint-down(md) {
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 0.5rem;
      }

      @include media-breakpoint-up(md) {
        flex-direction: column;
      }

      li {
        display: flex;
        align-items: center;
        font-size: torem(14);

        @include media-breakpoint-down(md) {
          font-size: torem(11);
          white-space: normal;
        }

        @include media-breakpoint-up(md) {
          margin-bottom: torem(6);
          white-space: nowrap;
        }

        i {
          margin-right: torem(8);
          color: var(--bs-light);
          flex-shrink: 0;
        }
      }
    }
  }

  // EXTRA PETIT
  @media (width <= 450px) {
    .main-footer {
      &__menu {
        gap: 0.75rem;
        font-size: 0.75rem;
      }

      &__list--contact {
        li {
          font-size: 0.65rem;

          i {
            font-size: 0.75rem;
            margin-right: 0.25rem;
          }
        }
      }
    }
  }
}