@use "../dependencies" as *;

@layer layouts {
  .main-footer {
    padding: torem(20) 0 torem(10);
    background-color: #1a1a1a;
    color: rgba(white, 0.7);
    border-top: 4px solid var(--bs-primary);

    // Gestió del responsive per columnes
    .row {
      @include media-breakpoint-down(md) {
        text-align: center;
        justify-content: center;
      }
    }

    &__logo {
      color: var(--bs-light) !important;
      font-size: torem(26);
      font-weight: 700;
      margin-bottom: torem(10);

      &-icon {
        font-weight: 900;
        color: var(--bs-primary)
      }
    }

    &__description {
      font-size: torem(14);
      line-height: 1.6;
      max-width: 30ch; // Evita línies massa llargues

      @include media-breakpoint-down(md) { margin: 0 auto torem(20); }
    }

    &__list {
      list-style: none;
      padding: 0 !important;
      margin: 0;

      // MENU HORITZONTAL
      &--menu {
        display: flex;
        flex-flow: row wrap; // Per seguretat en pantalles molt petites
        gap: torem(25);
        text-transform: uppercase;
        align-items: center;

        a { text-decoration: none !important; }

        @include media-breakpoint-down(md) {
          justify-content: center;
          margin-bottom: torem(30);
        }
      }

      // CONTACTE VERTICAL
      &--contact {
        display: flex;
        flex-direction: column;

        li {
          display: flex;
          align-items: center;
          font-size: torem(14);

          @include media-breakpoint-down(md) { justify-content: center; }

          i {
            color: var(--bs-light);
            font-size: torem(16);
            width: torem(20); // Alinea els textos verticalment
          }
        }
      }
    }

    &__link {
      color: var(--bs-light) !important;
      text-decoration: none;
      transition: all 0.3s ease;
      position: relative;

      &:hover {
        color: var(--bs-primary) !important;
        &::after { width: 100%; }
      }
    }
  }
}