@use "../dependencies" as *;

@layer layouts {
  .main-footer {
    background-color: var(--bs-dark) !important;
    border-top: 5px solid var(--bs-primary);
    padding: torem(20) 0 torem(10);
    color: var(--bs-light) !important;

    // Gestió del responsive per columnes
    .row {
      @include media-breakpoint-down(md) {
        justify-content: center;
        text-align: center;
      }
    }

    &__logo {
      margin-bottom: torem(10);
      color: var(--bs-light) !important;
      font-size: torem(26);
      font-weight: 700;

      &-icon {
        color: var(--bs-primary);
        font-weight: 900;
      }
    }

    &__description {
      max-width: 30ch;
      font-size: torem(14);
      line-height: 1.6;

      @include media-breakpoint-down(md) {
        margin: 0 auto torem(20);
      }
    }

    &__list {
      padding: 0 !important;
      margin: 0;
      list-style: none;

      // MENU HORITZONTAL
      &--menu {
        display: flex;
        flex-flow: row wrap;
        gap: torem(25); // Això manté l'espai entre els links
        align-items: center;
        text-transform: uppercase;

        a {
          text-decoration: none !important;
        }

        @include media-breakpoint-down(md) {
          justify-content: center;
          margin-bottom: torem(30);
        }
      }

      // CONTACTE VERTICAL
      &--contact {
        display: flex;
        flex-direction: column;

        li {
          display: flex;
          align-items: center;
          font-size: torem(14);

          @include media-breakpoint-down(md) {
            justify-content: center;
          }

          i {
            width: torem(20);
            color: var(--bs-light);
            font-size: torem(16);
          }
        }
      }
    }

    &__link {
      position: relative;
      color: var(--bs-light) !important;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        color: var(--bs-primary) !important;

        &::after {
          width: 100%;
        }
      }
    }
  }
}