@use "../dependencies" as *;

@layer layouts {
  .main-nav {
    &__link {
      color: var(--bs-light);
      text-transform: uppercase;
      font-size: 0.85rem;
      letter-spacing: 1px;
      transition: color 0.3s ease;
      text-decoration: none;

      &:hover {
        color: var(--bs-primary);
      }
    }

    &__brand-accent {
      color: var(--bs-primary);
    }
  }

  /* ACTIVE PER PÀGINA */
  body.page-home .main-nav__link--home,
  body.page-ponents .main-nav__link--ponents,
  body.page-article .main-nav__link--article,
  body.page-extra .main-nav__link--extra {
    display: none !important;
  }
}