<footer class="main-footer">
  <div class="container">
    <div class="row gy-3 align-items-center">

      <!-- LOGO -->
      <div class="col-md-3 mt-1 mb-1 text-center text-md-start">
        <h2 class="main-footer__logo mb-0">
          <span class="main-footer__logo-icon">Aura</span>Negra
        </h2>
        <p class="main-footer__description mb-0">
          Jornades d'Artesania i Foc a Verdú.
        </p>
      </div>

      <!-- MENÚ -->
      <div class="col-md-6 mt-1 mb-1 d-flex justify-content-center">
        <ul class="main-footer__list main-footer__list--menu mb-0">
          <li><a href="index.html" class="main-footer__link">Inici</a></li>
          <li><a href="ponents.html" class="main-footer__link">Ponents</a></li>
          <li><a href="article.html" class="main-footer__link">Article</a></li>
          <li><a href="extra.html" class="main-footer__link">Agenda</a></li>
        </ul>
      </div>

      <!-- CONTACTO -->
      <div class="col-md-3 mt-1 mb-1 ">
        <ul class="main-footer__list main-footer__list--contact mb-0">
          <li>
            <i class="bi bi-geo-alt-fill"></i>
            <span>Plaça Major, 1, Verdú</span>
          </li>
          <li>
            <i class="bi bi-telephone-fill"></i>
            <span>973 34 70 07</span>
          </li>
          <li>
            <i class="bi bi-envelope-fill"></i>
            <a href="mailto:ajuntament@verdu.cat" class="main-footer__link">ajuntament@verdu.cat</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>