<footer class="main-footer">
  <div class="container">
    <div class="row gy-3 align-items-center">

      <div class="col-md-4">
        <h2 class="main-footer__logo mb-2">
          <span class="main-footer__logo-icon">Aura</span>Negra
        </h2>
        <p class="main-footer__description">
          Jornades d'Artesania i Foc a Verdú.
        </p>
      </div>

      <div class="col-md-4 ">
        <ul class="main-footer__list main-footer__list--menu mb-3 mb-md-0">
          <li><a href="index.html" class="main-footer__link">Inici</a></li>
          <li><a href="ponents.html" class="main-footer__link">Ponents</a></li>
          <li><a href="article.html" class="main-footer__link">Article</a></li>
          <li><a href="extra.html" class="main-footer__link">Tallers</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="main-footer__list main-footer__list--contact">
          <li><i class="bi bi-geo-alt-fill"></i> <span>Plaça Major, 1, Verdú</span></li>
          <li><i class="bi bi-telephone-fill"></i> <span>973 34 70 07</span></li>
          <li><i class="bi bi-envelope-fill"></i><a href="mailto:ajuntament@verdu.cat" class="main-footer__link">ajuntament@verdu.cat</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>