<header class="main-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark main-nav">
    <div class="container">

      <a class="navbar-brand main-nav__brand" href="index.html">
        <span class="main-nav__brand-accent">Aura</span>Negra
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Obrir menú">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto main-nav__list">
          <li class="nav-item main-nav__item">
            <a class="nav-link main-nav__link main-nav__link--home" href="index.html">Inici</a>
          </li>
          <li class="nav-item main-nav__item">
            <a class="nav-link main-nav__link main-nav__link--ponents" href="ponents.html">Ponents</a>
          </li>
          <li class="nav-item main-nav__item">
            <a class="nav-link main-nav__link main-nav__link--article" href="article.html">Article</a>
          </li>
          <li class="nav-item main-nav__item">
            <a class="nav-link main-nav__link main-nav__link--extra" href="extra.html">Agenda</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>